.button {
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    outline: none;
    padding: .7rem 1rem;
    color: white;
    background-color: #96e0b2;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {
    background-color: #aadabc;
    box-shadow: 1px 1px 1px 1px #77d49b81;
}

.button:focus {
    box-shadow: 1px 1px 1px 1px #aadabc;
}