.loginInput {
    position: relative;
    padding: 2px;
}

.input, .inputLoginIcon {
    border: 1px solid rgb(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
    padding: .6rem .8rem;
    outline: none;
    font-size: 1rem;
    transition: all .2s;
    border-radius: 5px;
}

.inputLoginIcon, .loginLabel {
    padding: .6rem 2.5rem;
}

.input:focus, .icon {
    border : 1px solid rgba(204, 191, 71, 0.2);
    box-shadow: 0px 0px 3px 0px rgba(241, 178, 5, 0.4);
    background-color: var(--background-body);
}

.inputFormText {
    display: flex;
    align-items: center;
    position: relative;
}

.email {
    background: url("../../assets/user.png") no-repeat;
    background-position-y: center;
    background-position-x: 10px;
}

.passoword {
    background: url("../../assets/padlock.png") no-repeat;
    background-position-y: center;
    background-position-x: 10px;
}

.placeholderInput, .loginLabel {
    display: flex;
    align-items: center;
    position: absolute;
    left: 3%;
    letter-spacing: normal;
    font-family: var(--font-familyPopp);
    font-size: 1rem;
    user-select: none;
}

#phone {
    letter-spacing: 2px;
}

.active {
    animation: inputAnime .3s ease forwards ;
    pointer-events: none;
}

.activeFalse {
    animation: inputAnimeFalse .3s ease forwards ;
}

.activeLogin {
    animation: inputAnimeLogin .3s ease forwards ;
    pointer-events: none;
}

.activeFalseLogin {
    animation: inputAnimeFalseLogin .3s ease forwards ;
}

@keyframes inputAnime {
     to {
        transform: translateY(-20px);
        background-color: var(--background-body);
        padding: 0rem .5rem;
    }
}

@keyframes inputAnimeFalse {
    from {
        transform: translateY(-20px);
        background-color: var(--background-body);
        padding: 0rem .5rem;
    }
    to {
        transform: translateY(0px);
    }
    
}

@keyframes inputAnimeLogin {
    to {
        transform: translate(20px, -20px);
       background-color: var(--background-body);
       padding: 0rem .5rem;
   }
}

@keyframes inputAnimeFalseLogin {
   from {
       transform: translate(20px, -20px);
       background-color: var(--background-body);
       padding: 0rem .5rem;
   }
   to {
    transform: translate(0px, 0px);
   }
   
}


.error {
    color: rgb(240, 118, 118);
    padding: .5rem 1rem;
}

