.listPassword {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;    
    gap: 5px;
    padding: 5px;
}

.confirmPassword {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 90%;
    padding: .1rem .2rem;
}

.error {
    background-color: #ecaaaa;
}

.check {
    background-color: #abd6ab;
}