@import '../../styles/mixins.scss';

.loginStart {
    padding-top: $remTopLogin;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 10px;
    height: 27rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 2fr 1fr;
    margin: auto;
    width: 35%;
}

.loginLostPassowordButton {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding: 1rem;
    justify-content: space-between;
    width: 100%;
}

.lost {
    position: relative;
    bottom: 1.2rem;
    height: 20px;
}

.create {
    margin: auto;
}

@media (max-width : 1000px) {
    .loginStart {
        width: 60%;
    }
}

@media (max-width : 500px) {
    .loginStart {
        width: 100%;
    }
}