.loginForm {
    margin: auto;
    background: var(--background-body);
    padding: 40px;
    width: 70%;
}

.login  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, minmax(5rem, 1fr));
    gap: .3rem;
}

@media (max-width : 500px) {
    .login {
        grid-template-columns: 1fr;
        width: 100%;
    }
}