:root {
    --heigth-var : 1.4rem;
    --padding-var : .6rem;
    --border-color : rgba(0, 0, 0, 0.2);
    --search-button : 20%;
    --search-input : 100%;
}

.logo {
    max-width: 100px;
}

.header {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 1fr 1fr;
    align-items: center;
    border: 1px solid black;
    padding: 1rem 2.5rem;
    z-index: 100;
}

.flex {
    width: 100%;
    height: 3rem;
    grid-column-start: 2;
    grid-column-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    width: calc(100% - 20%);
    height: 100%;
    padding: var(--padding-var);
    outline: none;
    border: 1px solid var(--border-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}

.search::placeholder {
    font-size: 15px;
    letter-spacing: 1px;
}

.focusHeader {
    box-shadow: 2px 2px 2px 2px yellow;
}

.button {
    width: var(--search-button);
    height : 100%;
    outline: none;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left: none;
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    position: relative;
    background-color: white;    
    cursor: pointer;
}

.button::before {
    content: '';
    position: absolute;
    display: block;
    height: 2rem;
    left: 0px;
    top: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 2px;
}

.button:focus {
    box-shadow: 2px 1px 1px 1px yellow;
}

.user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}