@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@mixin promocao($color-line : black, $color-letter: black) {
  color: $color-letter;
  text-decoration-line: line-through;
  text-decoration-color: $color-line;
}

@mixin productSection($color: black, $letter: black) {
  position: relative;
  text-decoration: none;
  color: $letter;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 5px;
  padding: 2rem;
  border: 1px solid $color;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  transition: all 0.4s;
}

@mixin hoverProduct($line: black) {
    cursor: pointer;
  text-decoration-line: underline;
  text-decoration-color: $line;
}

@mixin nextContet ($back){
  position: absolute;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  border: none;
  font-size: 2rem;
  background-color: $back;
}
