@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@mixin promocao($color-line : black, $color-letter: black) {
  color: $color-letter;
  text-decoration-line: line-through;
  text-decoration-color: $color-line;
}

@mixin font ($family : initial, $size : initial, $letter : initial) {
    font-family: $family;
    font-size: $size;
    letter-spacing: $letter;
}

@mixin button-product ($color : black, $back-color : white, $font-fami : sans-serif) {
    color : $color;
    background-color: $back-color;
    width: 120px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    @include font($font-fami, 0.8rem)
}

@mixin button-product-hover ($color, $back) {
    color: darken($color, 5%);
    background-color: darken($back, 10%);
}


@mixin productSection($color: black, $letter: black) {
  position: relative;
  text-decoration: none;
  color: $letter;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 5px;
  padding: 2rem;
  border: 1px solid $color;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  transition: all 0.4s;
}

@mixin hoverProduct($line: black) {
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-color: $line;
}

@mixin nextContet ($back){
  position: absolute;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  border: none;
  font-size: 2rem;
  background-color: $back;
}

@mixin transitionCarrocel ($car) {
  transform: translateX($car + 100px);
}

@mixin buttonShow ($color, $back) {
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: $color;
  background-color: $back;
  cursor: pointer;
  &:hover {
    background-color: darken($back, 5%);
    color: darken($color, 5%);
  }
}