$roxo: rgba(0, 0, 0, 0.5);

@mixin hoverNav {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
}

.nav {
  position: fixed;
  top: 6rem;
  ul {
    cursor : pointer;

    display: flex;
    gap: 10px;
    padding: 0rem 1rem;
  }
  ul li {
    &::before {
        @include hoverNav();
        background-color: aqua;
    }
    &:hover {
      &::before {
        @include hoverNav();
        background-color: black;
      }
    }
  }
}
