@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --background-body : white;
    --font-familyPopp : 'Poppins', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font-familyPopp);
}   

.app {
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label {
    cursor: text;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}