@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --background-body : white;
    --font-familyPopp : 'Poppins', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font-familyPopp);
}   

label {
    cursor: text;
}

body {
    font-family: 'Poppins', sans-serif;
}