@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Nunito:wght@300&display=swap');

@import '../Home/styles/HomePageIndex.module';
@import '../Home/styles/Product.module';

:root {
    --background-body : white;
    --font-familyPopp : 'Poppins', sans-serif;
    --heigth-header : 6rem;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font-familyPopp);
}   

body {
    padding-top: 4rem;
}

.app {
    height: 140vh;
    padding-top: 100px;
}

label {
    cursor: text;
}

a {
    text-decoration: none;
}

.animeLeft {
    transform: translateX(-20px);
    opacity: 0;
    animation: animeLeft .3s forwards;
}

.animeTop {
    transform: translateY(-30px);
    opacity: 0;
    animation: animeTop .4s forwards;
}

li {
    list-style-type: none;
}

.lostPassword {
    position: relative;
    font-size: 0.8rem;
    color: rgb(114, 114, 114);
    letter-spacing: 1px;
    transition: all .3s;
}

.lostPassword:hover {
    color: rgb(78, 74, 74);
    cursor: pointer;
}

.lostPassword::after {
    position: absolute;
    bottom: 0px;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentColor;
}

.title {
    letter-spacing: 2px;
    font-size: 1.6rem;

}

@keyframes animeLeft {
    to {
        opacity: 1;
        transform: translateX(0px);
    } 
}

@keyframes animeTop {
    to {
        opacity: 1;
        transform: translateY(0px);
    } 
}